{
    "sources": [
        {
            "name": "登链社区最新文章",
            "slug": "learnblockchain-newest",
            "url": "https://learnblockchain.cn/categories/all/newest/",
            "item_selector": "div.stream-list.blog-stream>section.stream-list-item",
            "title_selector": "div.summary>h2.title",
            "description_selector": "div.summary>div.excerpt>p",
            "link_selector": "div.summary>h2.title>a",
            "next_page_match": "class=\"page-link\" href=\"(.*)\" rel=\"next\"",
            "delay": 3600
        },
        {
            "name": "Ethernaut - JSON Example",
            "slug": "ethernaut",
            "url": "https://cdn.jsdelivr.net/gh/OpenZeppelin/ethernaut@master/client/src/gamedata/gamedata.json",
            "item_selector": "levels",
            "title_selector": "name",
            "description_selector": "author",
            "link_selector": "levelContract",
            "delay": 3600
        }
    ],
    "username": "naiba",
    "password": "abian",
    "max_items": 25,
    "sentry_dsn": null
}